<img src="/images/Capture.PNG" class="img-responsive" alt=""/>
    <% @projects.each do |project| %>
      <div class="about" id="what">
        <div class="container">
          <div class="posts">
            <div class="col-md-4">
              <div class="post_grid">
              <div class="view view-fifth"><a href="#">
                          <img src=<%= project.image %> class="img-responsive" alt=""/>
              </div>
                <div class="post_desc">
                 <h4><%= link_to project.name , project %></h4>
                 <p><%= project.abstract %></p>
                 <div class="post_bottom">
                   <ul class="time post_list">
                     <i class='time1'> </i>
                     <li class="time_desc">December 25</li>
                     <div class="clearfix"> </div>
                   </ul>
                   <div class="clearfix"> </div>
                 </div>
                </div>
               </div>
            </div>
        </div>
      </div>
    <% end %>
<br>
     <h3 style="display: inline; float: right; " class="btn"><%= link_to 'Add Project', new_project_path %></h3>
   